doctype html
html(lang='en')
    head
        title Pug
    body
        form(method='POST' action='/base1')
            button.btn.btn-primary(type='submit' name="base1") Base1
        form(method='POST' action='/base3')
            button.btn.btn-primary(type='submit' name="base3") Base2
        form(method='POST' action='/execute')
            button.btn.btn-primary(type='submit' name="transaction") Execute Transaction