doctype html
html(lang='en')
    head
        title Pug
    body
        button(onclick='addToDB(1)') Add to DB 1
        button(onclick='addToDB(2)') Add to DB 2
        button(onclick='addToDB(3)') Add to DB 3
        //button(onclick='addToDB(1)') Add to DB 1
        script(src='../testserver.js')